.welcome {
  display: flex;
  padding-left: 4rem;
  padding-right: 5rem;
  min-height: 600px;
  /* background-image: url(images/Pupper.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.welcome h3 {
  color: white;
}

.welcome h4 {
  color: #8f8f8f;
}

.welcome img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 2rem;
}

.about {
  display: flex;
  padding: 7% 15%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.about img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
